

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.items{
  width: 380px;
}

.start{
  display: none;
}

.star{
  margin-bottom: 5px;
}









